@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: Inter, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    cursor: default;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}


@layer base {
  body {
    @apply flex h-full flex-col bg-black text-zinc-200;
  }

  h1 {
    @apply text-4xl font-bold tracking-tight text-zinc-100 sm:text-5xl;
  }

  p {
    @apply text-zinc-400;
  }
  
}